/** Add css rules here for your application. */
/** Example rules used by the template application (remove for your app) */
h1 {
	font-size: 2em;
	font-weight: bold;
	color: #777777;
	margin: 40px 0px 70px;
	text-align: center;
}

.infoTable table {
    border: none;
}

.infoTable td {
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: solid;
    border-left-style: none;
    border-width: 3px;
    border-color: #CECECE;
    
    text-align: center;
    
    word-wrap: break-word; 
}

.tblFormInput table{
	
}

.imageCell{
	width: 40px;
	height: 40px;
}

.tblFormInput td{
	 text-align: left;
	 padding-bottom: 20px;
}

.center{
	margin-left: 400px;
}

.sendButton {
	display: block;
	font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
	width: 400px;
}

.dialogVPanel {
	margin: 5px;
}

.serverResponseLabelError {
	color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
	margin: 15px 6px 6px;
}