/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

.imgLogo {
  width: 100%;
  height: 100%;
  margin-left: 30%;
  margin-top: 20%;
}

.lbLogo {
  width: 80px;
  height: 100%;
  margin-top: 20%;
  margin-left: 30%;
  font-size: medium;
  font-weight: bold;
}
